.header {
    padding: 1rem 0;
    font-size: 1, 25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    &__link {
        text-decoration: none;
        transition: all 0.3s ease;
        &--active,
        &:hover {
            color: var(--bs-blue);
        }
        &--cursor {
            cursor: pointer;
        }
    }

    &__title {
        font-weight: bold;
    }
}
